/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}



/* STILE DEI LINK */
a {
    text-decoration: none;
    color: white;
}


/* ----- UTILITY ----- */

.flex {
    display: flex;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

/* ----- CONTENT ----- */

/* HEADER */

/* barra navigazione */
header {
    background-color: orange;
    position: fixed;
    width: 100%;
    height: 10%;
    color: white;
}

/* spazio dal top del browser */
.top-header {
    padding-top: 1.5%;
}

/* stile elenco (tipo abbigliamento) */
header ul li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}

/* img dentro contenitore */
#logo-boolean img {
    width: 100px;
}