/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}



/* STILE DEI LINK */
a {
    text-decoration: none;
    color: white;
}


/* ----- UTILITY ----- */

.flex {
    display: flex;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* ----- CONTENT ----- */

/* HEADER */

/* barra navigazione */
header {
    background-color: #ff6900;
    position: fixed;
    width: 100%;
    height: 8%;
    color: white;
    z-index: 1; /* per stare sopra le card */
}

/* spazio dal top del browser */
.top-header {
    padding-top: 1%;
}

/* stile elenco (tipo abbigliamento) */
header ul li {
    list-style-type: none;
    display: inline;
    padding: 3px;
    font-size: 0.7rem;
    font-weight: bold;
}

/* img dentro contenitore */
#logo-boolean img {
    width: 100px;
}

/* misura icone */
.svg-item {
    height: 50%;
}

/* /HEADER */


/* MAIN */

/* contenitore per articoli */
.articolo {
    flex-basis: 300px;
    margin: 10px;
    position: relative;
}

/* immagine all'interno del contenitore */
.articolo > img {
    width: 100%;
}

/* spazio tra main e header */
.margin-main {
    padding-top: 7%;
}

/* /MAIN */

.promozione {
    position: absolute;
    bottom: 200px;
    left: 20px;
}

.prezzo {
    color: red;
}

.sconto {
    color: white;
    background-color: red;
}

/* FOOTER */

/* Footer - colore sfondo e colore font */
footer {
    background-color: #1a1a1a;
    color: white;
    padding-top: 25px;
    border-bottom: 1px solid white;
}

/* Ragione sociale - dimensione testo */
footer h2 {
    font-size: 0.8rem;
}

/* Indicazione collegamenti social - dimensione testo */
footer h3 {
    font-size: 0.7rem
}

/* Link aspetti legali - dimensione testo */
.aspetti-legali {
    font-size: 0.6rem;
}

/* Link aspetti legali - spazi */
.aspetti-legali > a {
    padding: 10px 10px 35px 0;
}

/* /FOOTER */